* {
    box-sizing: border-box;
}

html, body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
}

/* Navigation Bar */

ul.topnav {
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {
    background-color: #64141e;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width: 680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }

    ul.topnav.responsive {
        position: fixed;
        z-index: 10;
        top: 0px;
        width: 100%;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        background-color: black;
        display: block;
        text-align: left;
    }
}

/* Masthead Header */

#masthead {
    background: url(../img/masthead.jpeg) center;
    background-size: cover;
    /*background: #060725;*/
    height: 100%;
    position: relative;
}

.header {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header h1 {
    margin: 0 0 25px 0;
    font-size: 60px;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
}

.header h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
}

.email {
    margin: 8px 0 18px 0;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
}

.header a:hover {
    color: #ffcb17;
}

.contact-list {
    padding: 0;
    margin: 0;
}

ul.contact-list i {
    display: inline-block;
    list-style: none;
    font-size: 38px;
    width: 60px;
    height: 60px;
    margin: 0.5%;
    border: 0px;
    border-radius: 4px;
    line-height: 60px;
    transition: background 0.2s linear 0s;
}

ul.contact-list i:hover {
    background-color: #314F81;
}

/* About Section: Profile*/

#about {
    text-align: center;
    background: white;
    position: relative;
    height: 100vh;
}

.profile {
    max-width: 77.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 4em 2em 1em;
}

.profile:after {
    clear: both;
    content: "";
    display: table;
}

.picture {
    float: left;
    display: block;
    width: 25%;
}

.my-picture {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background: no-repeat center center;
    border-radius: 99em;
    border: 1px solid black;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.biography {
    float: left;
    display: block;
    width: 67%;
    text-align: left;
}

.biography p {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 44px;
    color: black;
}

/* About Section: Resume*/

.resume {
    max-width: 67.5em;
    margin-left: auto;
    margin-right: auto;
}

.resume:after {
    clear: both;
    content: "";
    display: table;
}

.resume-category {
    width: 50%;
    float: left;
    padding: 0 0 2em 3em;
    position: relative;
}

.resume-category:after {
    clear: both;
    content: "";
    display: table;
}

.resume-icon i {
    float: left;
    font-size: 38px;
    width: 60px;
    height: 60px;
    margin: 0.5%;
    border: 0px;
    border-radius: 4px;
    line-height: 60px;
    text-shadow: 2px 2px 5px black;
}

.resume-icon .fa-code {
    color: red;
}

.resume-icon .fa-code-fork {
    color: blue;
}

.resume-icon .fa-graduation-cap {
    color: purple;
}

.resume-icon .fa-briefcase {
    color: gold;
}

.resume-desc {
    float: left;
    text-align: left;
    width: 80%;
}

.resume-desc h3 {
    margin: 0;
    padding-top: 1em;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
}

.resume-desc ul {
    padding: 0;
    margin: 0;
}

.resume-desc li {
    list-style: none;
    margin: 0.7em 0;
    font-family: 'Didact Gothic', sans-serif;
}

.resume-desc h4 {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.resume-desc p {
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
}

.resume-desc span {
    color: gray;
    font-size: 0.7em;
}

@media screen and (max-width: 740px) {
    .picture {
        width: 100%;
    }

    .biography {
        width: 100%;
    }
    .resume-category {
        width: 100%;
    }
}

/* Projects section */

/*#projects {*/
    /*width: 100%;*/
    /*height: auto;*/
    /*text-align: center;*/
/*}*/

/*.container {*/
    /*max-width: 67.5em;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding: 40px 20px;*/
/*}*/

/*.container:after {*/
    /*clear: both;*/
    /*content: "";*/
    /*display: table;*/
/*}*/

/*.gallery-details {*/
    /*float: left;*/
    /*display: block;*/
    /*margin-left: 2%;*/
    /*width: 32%;*/
/*}*/

/*.gallery {*/
    /*float: left;*/
    /*display: block;*/
    /*width: 66%;*/
/*}*/

/*.project {*/
    /*float: left;*/
    /*display: block;*/
    /*width: 48%;*/
    /*margin-right: 0;*/
    /*min-width: 300px;*/
    /*min-height: 280px;*/
    /*margin-bottom: 40px;*/
    /*position: relative;*/
/*}*/

/*a.img {*/
    /*height: 200px;*/
    /*z-index: 10;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/

/*a.img img {*/
    /*border-top-left-radius: 2px;*/
    /*border-top-right-radius: 2px;*/
    /*left: 0;*/
    /*min-height: 200px;*/
    /*max-width: 300px;*/
    /*width: 100%;*/
    /*z-index: 10;*/
/*}*/

/*a.info {*/
    /*font-size: 20px;*/
    /*text-align: left;*/
    /*bottom: 0;*/
    /*display: inline-block;*/
    /*width: 300px;*/
    /*max-height: 51px;*/
    /*padding: 50px 20px 20px 20px;*/
    /*position: relative;*/
/*}*/

/*a.info span:first-child {*/
    /*bottom: 36px;*/
/*}*/

/*a.info span {*/
    /*position: absolute;*/
    /*display: block;*/
/*}*/

/*a.info span:nth-child(2) {*/
    /*font-weight: 300;*/
    /*font-size: 14px;*/
/*}*/

/*a.info span {*/
    /*position: absolute;*/
    /*bottom: 18px;*/
    /*display: block;*/
/*}*/