* {
    box-sizing: border-box;
}

html, body {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
}

/* Navigation Bar */

ul.topnav {
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {
    background-color: #555;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width: 680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width: 680px) {
    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

/* Masthead Header */

.masthead {
    background-image: url("../img/masthead.jpeg");
    background-size: cover;
    background-position: center center;
    /*background-color: gold;*/
    height: 100%;
    position: relative;
}

.profile {
    width: 90%;
    color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.profile h1 {
    margin: 0 0 32px 0;
    font-size: 48px;
    font-weight: normal;
    font-family: 'Abril Fatface', cursive;
}

.profile h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
}

.profile h3 {
    margin: 0 0 24px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
}

.profile a {
    color: gold;
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}

.profile a:hover {
    color: deepskyblue;
}

.contact-list {
    padding: 0;
    margin: 0;
}

ul.contact-list i {
    display: inline-block;
    list-style: none;
    font-size: 38px;
    width: 60px;
    height: 60px;
    margin: 0.5%;
    border: 0px;
    border-radius: 4px;
    line-height: 60px;
    -webkit-transition: background 0.2s linear 0s;
    -moz-transition: background 0.2s linear 0s;
    -o-transition: background 0.2s linear 0s;
    -ms-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}

ul.contact-list i:hover {
    background-color: darkgoldenrod;
}

/* Splash Section */

/*#splash {*/
/*background-color: #FFCF33;*/
/*width: 100%;*/
/*padding: 60px 20px;*/
/*background-size: cover;*/
/*text-align: center;*/
/*}*/

/*.profile-container {*/
/*max-width: 67.5em;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/

/*.profile-container:after {*/
/*clear: both;*/
/*content: "";*/
/*display: table;*/
/*}*/

/*.profile {*/
/*float: left;*/
/*margin-right: 2%;*/
/*width: 49%;*/
/*}*/

/*ul {*/
/*padding: 0;*/
/*}*/

/*a {*/
/*text-decoration: none;*/
/*color: black;*/
/*}*/

/*.welcome {*/
/*float: left;*/
/*width: 49%;*/
/*text-align: left;*/
/*}*/

/*!* Projects section *!*/

/*#projects {*/
/*width: 100%;*/
/*height: auto;*/
/*text-align: center;*/
/*}*/

/*.container {*/
/*max-width: 67.5em;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*padding: 40px 20px;*/
/*}*/

/*.container:after {*/
/*clear: both;*/
/*content: "";*/
/*display: table;*/
/*}*/

/*.gallery-details {*/
/*float: left;*/
/*display: block;*/
/*margin-left: 2%;*/
/*width: 32%;*/
/*}*/

/*.gallery {*/
/*float: left;*/
/*display: block;*/
/*width: 66%;*/
/*}*/

/*.project {*/
/*float: left;*/
/*display: block;*/
/*width: 48%;*/
/*margin-right: 0;*/
/*min-width: 300px;*/
/*min-height: 280px;*/
/*margin-bottom: 40px;*/
/*position: relative;*/
/*}*/

/*a.img {*/
/*height: 200px;*/
/*z-index: 10;*/
/*overflow: hidden;*/
/*position: relative;*/
/*}*/

/*a.img img {*/
/*border-top-left-radius: 2px;*/
/*border-top-right-radius: 2px;*/
/*left: 0;*/
/*min-height: 200px;*/
/*max-width: 300px;*/
/*width: 100%;*/
/*z-index: 10;*/
/*}*/

/*a.info {*/
/*font-size: 20px;*/
/*text-align: left;*/
/*bottom: 0;*/
/*display: inline-block;*/
/*width: 300px;*/
/*max-height: 51px;*/
/*padding: 50px 20px 20px 20px;*/
/*position: relative;*/
/*}*/

/*a.info span:first-child {*/
/*bottom: 36px;*/
/*}*/

/*a.info span {*/
/*position: absolute;*/
/*display: block;*/
/*}*/

/*a.info span:nth-child(2) {*/
/*font-weight: 300;*/
/*font-size: 14px;*/
/*}*/

/*a.info span {*/
/*position: absolute;*/
/*bottom: 18px;*/
/*display: block;*/
/*}*/